@model Milestone350.Models.Cell

@{
    string[] imageNames = { "unclickedBox.jpg", "minesweeperBomb.png" , "minesweeperFlag.png"};
}

 <button class="game-button" type="submit" value="@Model.Row, @Model.Col" name="cellNumber" >

               
                 <img class="game-button" src ="~/images/@imageNames[2]"/>

                
                   
           </button>