@model Milestone350.Models.Cell

@{
    string[] imageNames = { "unclickedBox.jpg", "minesweeperBomb.png" };
}

 <button class="game-button" type="submit" value="@Model.Row, @Model.Col" name="cellNumber" >

                   @if(@Model.IsFlagged)
                {
                 <img class="game-button" src ="~/images/@imageNames[Model.LiveNeighbors]"/>

                }
                   
           </button>